<!doctype html>
<html>
    <head>
        <title>Microblog</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 980px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}
		.markdown-body a{ 
			color:#548fff
			/*color:#8f7fff*/
		}
		
	</style>
    </head>
    <body>
		<article class="markdown-body post-content">
	    		{{ content }}
		</article>
    </body>
</html>
